<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <%= message %>
            <form action="" method="post">
                  <table>
                        <tr>
                              <td>Enter Std</td>
                              <td><input type="text" name="std" min="0" max="12"></td>
                              <!-- <td><input type="text" name="std"></td> -->
                        </tr>
                        <tr>
                              <td></td>
                              <td><input type="submit" name="Add Data"></td>
                        </tr>
                  </table>
            </form>
</body>

</html>