<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <ul>
            <li>
                  <a href="/admin/admindashboard/addstaff">Add Staff</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/addstudent">Add Student</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/addstd">Add Std</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/adddivision">Add Division</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewstudent">View Student</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewstudentsorted">View Student Sorted</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewstaff">View Staff</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewresult">View Result</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewresultsorted">View Sorted Result</a>
            </li>
            <li>
                  <a href="/admin/admindashboard/viewresultsorteddiv">View Sorted Result (top 3 std Wise)</a>
            </li>
      </ul>
</body>

</html>