<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <ul>
            <li>
                  <a href="/staff/staffdashboard/viewstudentstaff">View Student</a>
            </li>
            <li>
                  <a href="/staff/staffdashboard/createresult">Create Student Result</a>
            </li>
            <li>
                  <a href="/staff/staffdashboard/viewresult">View Student Result</a>
            </li>
            <li>
                  <a href="/staff/logout">Logout</a>
            </li>
      </ul>
</body>

</html>