<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <form action="" method="post">
            <table>
                  <caption>Student Login</caption>
                  <tr>
                        <td>Std</td>
                        <td><input type="number" name="std" id=""></td>
                  </tr>
                  <tr>
                        <td>Div</td>
                        <td><input type="text" name="div" id=""></td>
                  </tr>
                  <tr>
                        <td>Roll No.</td>
                        <td><input type="number" name="rollno" id=""></td>
                  </tr>
                  <tr>
                        <td></td>
                        <td><input type="submit" value="Login"></td>
                  </tr>
            </table>
      </form>
</body>
</html>